body,
html {
  margin: 0;
}
footer{
  width: 100%;
  background-color: #1b3848;
}
#comprar {
  color: #008000;
}
#texto--imagen {
  bottom: 225px;
  right: 150px;
}
#charla {
  color: black;
  text-decoration-style: dotted;
}
.btn--enviar {
  background-color: #96c93e;
}
.noseleccionar {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 600px) {
  #texto--imagen {
    bottom: 0;
  }
}
